.checkbox {
  user-select: none;
  input:checked ~ .checkmarkContainer_epson {
    border-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #1a47a3;

    .checkmark {
      display: block;
    }
  }
  input:checked ~ .checkmarkContainer_ricoh {
    border-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #c53e44;

    .checkmark {
      display: block;
    }
  }
  .checkmarkContainer_epson {
    border: 1px solid rgba(0, 0, 0, 0.5);

    .checkmark {
      display: none;
    }
  }

  .checkmarkContainer_ricoh {
    border: 1px solid rgba(0, 0, 0, 0.5);

    .checkmark {
      display: none;
    }
  }
}

.checkbox:hover {
  .checkmarkContainer_epson {
    border-color: #1a47a3 !important;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  .checkmarkContainer_ricoh {
    border-color: #c53e44 !important;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
}
