.productCard:hover {
  .vermas {
    bottom: 20px;
    transition: bottom 0.25s ease-in-out, z-index 0s 0.2s;
    z-index: 0;
  }
}
.productCard {
  .vermas {
    bottom: 100px;
    transition: bottom 0.25s ease-in-out;
    z-index: -1;
  }
}

.accordionHeader {
  .accordion-button {
    background-color: white !important;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    color: #212529;
  }
}
