$primary: #039;
$theme-colors: (
  'primary': $primary,
);
@import '../../../node_modules/bootstrap/scss/bootstrap';

.productCard:hover {
  .vermas {
    bottom: 20px;
    transition: bottom 0.3s ease-in-out, z-index 0s 0.2s;
    z-index: 0;
  }
  .arrowButton {
    opacity: 1;
  }
}
.productCard {
  .vermas {
    bottom: 100px;
    transition: bottom 0.3s ease-in-out;
    z-index: -1;
  }
  .arrowButton {
    opacity: 0;
  }
}

.itemsList {
  transition: opacity 0.5s ease-in-out;
}
