.videoContainer{
    width: max-content;
    height: max-content;
    background-color: black;

}

.video{

    width: 100vh;
    height: auto;
}

.text{
    color: black;
    text-decoration: underline;
    padding: .3rem;
}

.word{
    color: white;
    background-color: #BF292F;
}

.image{
    margin: 0rem 20rem;
}

.buttonEpson{
    padding: .5rem;
    border-radius: .5rem;
    height: 20%;
    width: auto;
    transition: all .4s;
    border: solid 2px #003399;
    &:hover{
        background-color: #003399;
        color: white;
    }
}

.buttonRicoh{
    padding: .5rem;
    border-radius: .5rem;
    height: 20%;
    width: auto;
    transition: all .4s;
    border: solid 2px #BF292F; 
    &:hover{
        background-color: #BF292F;
        color: white;
    }
}

.icon{
    transition: all .6s;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}

@media (min-width:1390px) and (max-width:1600px){
    .epson{
        height:32rem
    }
    .ricoh{
        height:32rem
    }
    .tarjetas{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
}

@media (min-width:1600px) and (max-width:2000px){
    .epson{
        height:40rem
    }
    .ricoh{
        height:40rem
    }
    .tarjetas{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
}
  
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    align-items: center;
    gap: 100px;
    animation: scroll 40s linear infinite;
    width: calc(270px * 10);
}

.slider .slide{
    width: 270px;
    img{
        width: 100%;
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100%{
        -webkit-transform: translateX(calc(-270px*5));
        transform: translateX(-270px*5);
    }
}

